.logo {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  background: #fc466b;
  background: -webkit-linear-gradient(30deg, #EF4444, #1D4ED8);
  background: linear-gradient(30deg, #EF4444, #1D4ED8);
  -webkit-background-clip: text;
  color: transparent;
  cursor: default;
}
