@tailwind components;
@tailwind base;
@tailwind utilities;

*{
  box-sizing: border-box !important;
}

.swiper{
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.swiper-button-prev,
.swiper-button-next{
  color: #374151 !important;
}

.swiper-button-next{
  right: 30px !important;
}

.swiper-button-prev{
  left: 30px !important;
}

.swiper-button-prev:after, .swiper-button-next:after{
  font-weight: 600;
}

.swiper-pagination-bullet-active{
  background: rgb(39 39 42 / 0.5) !important;
}

.swiper-pagination-bullet{
  background-color: rgb(39 39 42 / 0.5) !important;
}

